In [3]:
import pandas as pd

ages = pd.Series([23, 36, 59], name="Age")
shape = ages.shape

print(ages + 2)

0    25
1    38
2    61
Name: Age, dtype: int64

In [ ]:
titanic = pd.read_csv("../data/titanic.csv")